*{
	margin: 0;
	padding: 0;
}

body { 

	background-image: url("images/background1.jpg");
	background-repeat: no-repeat;
    background-size: cover;
	width:100%;
	height:100%;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    
    /*height: 100%*/;

    /* Center and scale the image nicely */
    /*background-position: center;*/
}


#logo {
	border-radius: 100%;
	width:250px;
	height:250px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	}


.navigation {
	text-align: center;
	background-color: white;
	/*position: fixed;*/
	top: 0;
	left: 0;
	/*right: 0;*/
	font-family: 'Bubbler One', sans-serif;
	font-size: 22px;
	font-weight: bold;
	height: 35px;
	/*font-family: 'Pangolin', cursive;*/
	}	

.navigation ul {
	margin: auto;
	padding-top: 4px;
}

.navigation ul li{
	display: inline;
	list-style: none;
	padding: 60px;
}
	
.navigation ul li a{
	color: black;
	text-decoration: none;
}

#text-home {
	font-size: 30px;
	font-family:'Bubbler One', sans-serif;
	font-weight: bold; 
}

.whitebox {
	background-color: rgba(255,255,255,0.5);
    width: 95%;
    height: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Bubbler One', sans-serif;
}

/*FOOTER*/
.bored{
	margin-top: 250px;
}

.home{
	margin-top: 600px;
}


/*FOOTER ICONS*/
.footer img {
	height: 40px;
	width:40px;
}

#fb {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   #fb:hover {
      opacity: 0.5;
      }

#scloud {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   #scloud:hover {
      opacity: 0.5;
      }

#insta {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   #insta:hover {
      opacity: 0.5;
      }

/**/

.footer {
	text-align: center;
	background-color: white;
	/*position: fixed;*/
	bottom: 0;
	position: relative;
	/*margin: 0;*/
	width:100%;
	/*left: 0;*/
	/*right: 0;*/
	font-family: 'Bubbler One', sans-serif;
	font-weight: bold;
/*	height: 35px;*/
	/*font-family: 'Pangolin', cursive;*/
	}	

.footer a{
	text-decoration: none;
	padding: 30px;
}

.footer h2{
	font-size: 20px;
	padding-bottom: 10px;
}

.footer h3{
	font-size:11.5px;
	color: #6E6E6E;
	padding-top: 10px;
	padding-bottom: 5px; 
}

.footer #sloth_icon{
	width: 25px; 
	height: 25px;
}


/*SHOP PAGE*/
#shop_titles {
	text-align: center;
	margin: auto;
	font-family: 'Bubbler One', sans-serif;
	font-size: 18px;
	font-weight: bold;
}


#shop_titles li{
	padding: 60px;
	display: inline;
	list-style: none;
}

#shop_titles li a{
	text-decoration: none;
	color: black;
}

.container_img {
	height: 400px;
	width: 400px; 
}

.container_img img{
	height: 100%;
	width: 100%;

	opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   transform: scale(1);
   }

   #.container_img img:hover {
      opacity: 0.5;
      }


#shirt_box #sloth_tshirt1{
	padding-right: 60px;
	border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

#shirt_box #sloth_tshirt2{
	padding-left: 60px;
	border-radius: 5px;
    transition: 0.2s;
}

#shirt_box #notsloth_tshirt1{
	padding-right: 60px;
	border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

#shirt_box #notsloth_tshirt2{
	padding-left: 60px;
	border-radius: 5px;
    transition: 0.2s;
}


#shirt_box {
	text-align: center;
	font-size: 18px;
	font-weight: bold; 
	color: black;
}

/*PURCHASE POPUP*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


/*//*//*end of shirt purchase popup*/

/*FEELING BORED PAGE*/
.slidecontainer{
	display: inline;
	
}

.sarcasticheader{
	display: inline;
	text-align: center;
	font-size: 25px;
	font-weight: bold; 
	color: black;
}

.pics{
	display: inline;
}

.slothSlides{
	display: inline;
	margin: auto;
	height: 450px;
	width: 500px;
}

.button_left{
	display: inline;
	color: white;
	background-color: darkgreen;
	margin-left: 650px;
	height: 40px;
	width: 40px;
}

.button_right{
	display: inline;
	color: white;
	background-color: darkgreen;
	margin-left: 420px;
	height: 40px;
	width: 40px;
}


/*CONTACT PAGE*/
.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: black;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
